
@model int
@{
    ViewBag.Title = "Checkout Complete";
}

<div class="container text-center">
    <div class="">
        <div class=" text-center"></br></br></br></br></br></br>
            <h2>Checkout Complete</h2>
            <p>Thanks for your order! We total order: @Model</p>
            <p>
                How about shopping for some more music in our
            </p>
            <p> @Html.ActionLink("Home Page", "Index", "Home")
            </p></br></br></br>
            <p></br></br></br>
        </div>
    </div>
</div>